.row
  .col
    %h5
      Recipe Parts
      %small.black-text (if this is a single part recipe, the part name will not be displayed)
    .parts
      = f.fields_for :parts do |part|
        = render 'parts/part_fields', f: part
      .links
        = link_to_add_association f, :parts, partial: 'parts/part_fields' do
          %i.fa.fa-plus-circle
          Add a part to your recipe
    %hr/
