- if recipe.favoritisms.count > 0
  = link_to likes_user_recipe_path(recipe.user.slug, recipe.slug), class: 'red-text', data: { turbo_frame: "_top" } do
    = pluralize(recipe.liked_users.count, 'Like')
