= turbo_frame_tag dom_id(recipe, "publish_form") do
  = form_with model: recipe, local: false, id: "recipe_publish_form" do |f|
    = f.hidden_field :published, value: 'true'
    .mb-3= f.submit "Click to Publish Recipe", class: "btn btn-primary"
