- provide(:title, 'Edit Recipe')

.row
  .col-12
    %h1 Editing recipe

    = render 'form', recipe: @recipe

    %ul.nav-links
      %li= link_to 'Back', user_recipe_path(@recipe.user.slug, @recipe.slug)
      %li= link_to 'All Recipes', recipes_path
