- provide(:title, 'Edit Recipe')

.row
  .small-12.columns
    %h1 Editing recipe

    = render 'form'

    = link_to 'Categories', categories_path
    \|
    = link_to 'Show', @recipe
    \|
    = link_to 'Recipes', recipes_path
