- provide(:title, 'Edit Recipe')

.grid-x
  .small-12.cell
    %h1 Editing recipe

    = render 'form'

    %ul.nav-links
      %li= link_to 'Back', @recipe
      %li= link_to 'All Recipes', recipes_path
