- provide(:title, 'Recipes')

.row
  .small-12.columns
    = link_to 'Browse recipes by categories', categories_path
    .float-right= link_to 'Add a recipe', new_recipe_path
%br/

.row
  .small-12.columns
    %h1 Latest Recipes

.row
  = render @recipes

.row
  .small-12.columns
    = paginate @recipes
