- provide(:title, "Let's cook together")
.grid-x.center
  .medium-8.cell
    .center-text
      .title Recipedia
.grid-x
  .cell
    %ul.nav-buttons
      %li
        = link_to categories_path, class: 'warning' do
          %i.fa.fa-list
          Browse recipes by categories
      %ul
        %li
          = link_to new_recipe_path, class: 'alert' do
            %i.fa.fa-plus-circle
            Add a recipe
.grid-x
  .small-12.cell
    %h1 Latest Recipes
.grid-x.small-up-1.medium-up-2.large-up-3
  = render @recipes
.grid-x
  .small-12.cell
    = paginate @recipes
