- provide(:title, 'Recipes')
.grid-x.center
  .medium-8.cell
    .center-text
      .title Recipedia
.grid-x
  .small-12.cell
    = link_to categories_path do
      %i.fa.fa-list
      Browse recipes by categories

    .float-right
      = link_to new_recipe_path do
        %i.fa.fa-plus-circle
        Add a recipe
.grid-x
  .small-12.cell
    %h1 Latest Recipes

.grid-x
  = render @recipes

.grid-x
  .small-12.cell
    = paginate @recipes
