- provide(:title, "Let's cook together")
.grid-x.center
  .medium-8.cell
    .center-text
      .title Recipedia
.grid-x
  .medium-6.cell
    %ul.menu
      %li
        = link_to categories_path, class: 'button warning' do
          %i.fa.fa-list
          Browse recipes by categories
  .medium-6.cell
    %ul.menu.align-right
      %li
        = link_to new_recipe_path, class: 'button alert' do
          %i.fa.fa-plus-circle
          Add a recipe
.grid-x
  .small-12.cell
    %h1 Latest Recipes

.grid-x
  = render @recipes

.grid-x
  .small-12.cell
    = paginate @recipes
