- provide(:title, 'Recipes')

.row
  .small-12.columns
    %h1 Listing recipes

.row
  = render @recipes

.row
  .small-12.columns
    = paginate @recipes
    %br/
    = link_to 'New Recipe', new_recipe_path
