- provide(:title, 'Recipes')

.row
  .small-12.columns
    = link_to categories_path do
      %i.fa.fa-list
      Browse recipes by categories

    .float-right
      = link_to new_recipe_path do
        %i.fa.fa-plus-circle
        Add a recipe
.row
  .small-12.columns
    %h1 Latest Recipes

.row
  = render @recipes

.row
  .small-12.columns
    = paginate @recipes
