= form_with model: current_user.relationships.build,
id: dom_id(user, "follow_form"), local: false do |f|
  = render 'notifications/error_messages', object: f.object
  = f.hidden_field :followed_id, value: user.id

  .actions
    = f.submit 'Follow', class: 'btn btn-primary btn-lg'
