- unless is_author?(profile_user)
  %div{id: "follow_form_for_#{profile_user.id}"}
    - if current_user.following?(profile_user)
      = render 'relationships/unfollow', profile_user: profile_user
    - else
      = render 'relationships/follow', profile_user: profile_user
