= form_with model: current_user.following?(other_user), method: :delete, local: false do |f|
  = render 'notifications/error_messages', object: f.object

  .actions
    = f.submit 'Unfollow', class: 'button secondary'
