- if object.errors.any?
  .messages
    .alert.alert-danger.alert-dismissible.fade.show
      %h2
        Form contains #{pluralize(object.errors.count, 'error')}
      %ul
        - object.errors.full_messages.each do |msg|
          %li= msg
      %button.btn-close{aria: {label: "X"}, data: {bs_dismiss: "alert"}, type: 'button'}
