.messages
  .row
    .col-12
      - if flash[:alert]
        .alert.alert-danger.alert-dismissible.fade.show
          = sanitize(flash[:alert])
          %button.btn-close{aria: { label: 'X' },
          data: { bs_dismiss: "alert"}, type: 'button'}

      - if flash[:notice]
        .alert.alert-warning.alert-dismissible.fade.show
          = sanitize(flash[:notice])
          %button.btn-close{aria: { label: 'X' },
          data: { bs_dismiss: "alert"}, type: 'button'}
