%p#unread_notifications{class: hide_if(notifications.by_unread.any?)} NEW
%ul#unread_notifications_list.menu.vertical
  = render notifications.by_unread

%p#read_notifications EARLIER
%ul#read_notifications_list.menu.vertical
  = render notifications.by_read.limit(30)
