#unread_notifications{class: hide_if(notifications.by_unread.any?)} NEW
#unread_notifications_list.row.d-flex.flex-column
  = render notifications.by_unread

#read_notifications EARLIER
#read_notifications_list.row.d-flex.fles-column
  = render notifications.by_read.limit(30)
