- provide :title, 'Notifications'

.grid-x
  .cell
    %h1 Notifications
    %ul.menu
      %li.pad-right
        = link_to settings_notifications_path, class: 'button warning' do
          %i.fas.fa-cog
          Notification settings
      %li
        = link_to "Mark all as read", mark_as_read_notifications_path,
        class: "button", data: { turbo_method: :patch }

    %br/
    .callout
      = render "notifications/notifications_list", notifications: @notifications
