- provide :title, 'Notifications'

.grid-x
  .cell
    %h1 Notifications
    = link_to 'Notification settings', settings_notifications_path
    .callout#notifications
      %p#unread_notifications{class: hide_if(@notifications.by_unread.any?)} NEW
      %ul#unread_notifications_list.menu.vertical
        = render @notifications.by_unread
      - if @notifications.by_read.any?
        %p#read_notifications EARLIER
        %ul#read_notifications_list.menu.vertical
          = render @notifications.by_read
