- provide :title, 'Notifications'

.row
  .col
    %h1 Notifications
    %ul.nav
      %li.nav-item.pad-right
        = link_to settings_notifications_path, class: 'btn btn-warning' do
          %i.fas.fa-cog
          Notification settings
      %li.nav-item
        = link_to "Mark all as read", mark_as_read_notifications_path,
        class: "btn btn-primary", data: { turbo_method: :patch }

    %br/
    .callout
      = render "notifications/notifications_list", notifications: @notifications
