.row
  .col-12
    .callout-transparent
      .center-text
        %h1.no-background= user.username
        = render 'users/profile_stats', user: user, size: 150
        = render 'relationships/form', user: user
