- provide :title, 'Followers'

.row
  .col-12.col-lg-5
    = render 'users/follow_header', user: @user
  .col-12.col-lg-7
    %h3 Followers
    .d-flex.flex-column.user-list
      = render @user.followers
