- provide :title, 'Following'

.row
  .col-md-6.col-lg-5
    = render 'users/follow_header', user: @user
  .col-md-6.col-lg-7
    %h3 Following
    .d-flex.flex-column.user-list
      = render @user.following
