- provide :title, 'Following'

.grid-x
  .cell.medium-6.large-5
    = render 'users/follow_header', user: @user
  .cell.medium-6.large-7
    %h3 Following
    %ul.menu.vertical.user-list
      = render @user.following
