.grid-x
  .small-12.cell
    %h5 Ingredients
    .ingredients
      = f.fields_for :ingredients do |ingredient|
        = render 'ingredients/ingredient_fields', f: ingredient
      .links
        = link_to_add_association f, :ingredients, partial: 'ingredients/ingredient_fields' do
          %i.fa.fa-plus-circle
          Add an ingredient
    %br/
