/* colors pal */
$turquoise-light: #bcf8f9;
$turquoise: #65edee;
$turquoise-dark: #007c7c;
$turquoise-ex-dark: #113536;
$yellow: #ffed00;
$yellow-dark: darken($yellow, 4%);
$red: #ff0000;
$red-dark: darken($red, 10%);
$blue: #005ac9;
$blue-dark: darken($blue, 10%);

/* vars */
$topbar-background: $turquoise-ex-dark;
$topbar-submenu-background: $yellow;
$footer-background: $turquoise-dark;
$main-background: rgba($turquoise-light, 0.90);
