/* custom colors */
$tattoo-pale-green: #e7fbde;
$tattoo-dark-green: #6c7a66;
$tattoo-yellow: #ffda17;
$tattoo-topbar-background: darken($tattoo-dark-green, 20%);
$tattoo-footer-background: $tattoo-dark-green;
