.button {
  color: $white;
  background-color: $blue;
  &:hover {
    background-color: darken($blue, 20%);
  }
}

form#notification_settings {
  label {
    display: inline;
  }
}

.favor_form_button {
  padding: 1px 5px;
  margin-right: 20px;
  margin-bottom: 5px;
  height: 40px;
  width: 40px;
  border: 3px solid $yellow-dark;
  &:hover {
    background-color: $yellow;
  }
}
