ul.nav-links {
  @include menu-base;
  @extend .callout-transparent;
  padding: 0 15px 0 15px;

  li:not(:first-child) {
    margin-left: 60px;
  }

  a {
    @include button;
    border-radius: 6px;
    font-weight: bold;
    @include button-style($turquoise, darken($turquoise, 20%), $black);
    margin: 14px 0 16px 0;
    box-shadow: 2px 2px 8px $black;

    // Custom colors.
    &.alert {
      background-color: $red;
    }
  }
}

a.button {
  border-radius: 10px;
}

ul.align-right {
  @include  breakpoint(small down) {
    justify-content: flex-start;
    float: none;
  }
  li {
    margin-bottom: 20px;
    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}
