@media print {
  html, body {
    overflow-x: visible !important;
    padding-bottom: 100px;
  }

  #main {
    border: unset !important;
  }

  .top-bar, #search-box, footer, .hide-on-print, .messages {
    display: none !important;
  }

  a { text-decoration: none; }

  a[href]:after {
    content: none;
  }

  /* Fixed to the bottom center of every page */
  .print-footer.hidden {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
