body {
  background-image: url('../images/paisley-bg-image.jpg');
  min-width: 300px;
}

h1, h2, h3, h4 {
  font-family: $main-font;
}

.italic {
  font-style: italic;
}

.small {
  font-size: small;
}

.title {
  font-family: $app-title-font;
  font-size: 8em;
  text-shadow: 2px 2px 2px $white, -2px -2px 2px $white, -2px 2px 2px $white, 2px -2px 2px $white,
  0 2px 2px $white, 2px 0 2px $white, 0 -2px 2px $white, -2px 0 2px $white;
  background-image: url('../images/spice.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

.messages .callout {
  margin-bottom: 20px;
}

ul.simple {
  margin-bottom: 20px;
}

.center-text {
  text-align: center;
}

.center {
  justify-content: center;
}

.pad-bottom {
  margin-bottom: 5px !important;
}

.profile-stats-avatar {
  & svg, img {
    margin-bottom: 2px !important;
  }
}

.user-badge {
  padding: 3px 5px 7px !important;
  margin-right: 5px;
  display: unset !important;
  font-size: 110%;
  background-color: $white;
  height: 55px;
}

.hidden {
  display: none;
}

/* Display Kaminari pagination links inline */
nav.pagination {
  span {
    display: inline-block;
  }
}

.callout-on-small-only {
  @include  breakpoint(small down) {
    @include callout;
  }
}

.inline-button-on-medium {
  @include breakpoint(medium) {
    height: 2.4375rem;
    margin-top: 1.55rem;
  }
}

.red-text {
  color: $red;
}
a.red-text:hover {
  color: darken($red, 20%);
}

.black-text {
  color: $black;
}
a.black-text:hover {
  color: lighten($black, 20%)
}

.highlight-text {
  text-shadow: 2px 2px 2px $white, -2px -2px 2px $white, -2px 2px 2px $white, 2px -2px 2px $white,
  0 2px 2px $white, 2px 0 2px $white, 0 -2px 2px $white, -2px 0 2px $white;
}

.banner {
  @include callout;
  padding: 0;
  position: relative;
  height: 180px;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
  }
  .content {
    top: 0;
    position: absolute;
    width: 100%;
    padding: 10px;
  }
  h4 {
    margin-bottom: -0.1em;
  }
}

.max-image-height {
  max-height: 400px;
}

.large-icon {
  font-size: 1.5rem;
}

.inline-large-icon {
  @include breakpoint(medium) {
    font-size: 1.5rem;
    margin-top: 1.55rem;
  }
}

.inline-icon {
  @include breakpoint(medium) {
    margin-top: 1.35rem;
  }
}

.slide {
  text-align: center;
  @include breakpoint(medium) {
    margin-top: 20px;
    height: 50px;
    svg.large {
      height: 20px;
      width: 20px;
      margin-top: 15px;
    }
  }
  background: $turquoise-light;
  border: 1px solid $black;
}

.switch {
  & input:checked ~ .switch-paddle::after {
    left: 4.75rem !important;
  }
    .switch-paddle {
      width: 7rem !important;
    }
}

.inline {
  span {
    display: inline-block;
  }
}

.notifications {
  margin: 0 0 20px 20px;
  padding: 5px;
  a {
    display: inline-block;
    padding: 0;
  }
}

.is_read_false {
  background-color: $yellow;
}

ul.edit_menu {
  @include menu-base;
  @include breakpoint(medium) {
    justify-content: flex-end;
  }
}

.timestamp {
  font-size: 90%;
  color: $dark-gray;
}

// Add links to ilyabirman-likely share button.
.email.likely__widget {
  &:hover {
    background-color: #b9f4bb;
  }
  vertical-align: top;
  a {
    padding: 0;
    height: 22px;
    span {
      font-size: 14px;
      height: 22px !important;
      &.likely__button {
        padding-top: 4px !important;
        color: $black !important;
      }
    }
  }
}

.callout-transparent {
  border: 4px solid $yellow;
  border-radius: 12px;
  background-color: unset;
  @extend .callout;
  box-shadow: 0 0 2px $black;
  margin-bottom: 20px;
  img {
    margin: 0 0 20px 0;
  }
}

.header-background {
  @extend .callout-transparent;
  width: fit-content;
  &.no-background {
    background-color: unset;
    border-style: unset;
    width: unset;
  }
}

h1 {
  color: $yellow;
  text-shadow: 2px 2px 2px $black, -2px -2px 2px $black, 2px -2px 2px $black, -2px 2px 2px $black,
  0 2px 2px $black, 2px 0 2px $black, 0 -2px 2px $black, -2px 0 2px $black;
}

.menu .autolink-link {
  display: unset;
  padding: 0;
}

.pad-right {
  padding-right: 20px;
}

.default-avatar-300 {
  width: 300px !important;
  height: 300px !important;
}

.default-avatar-150 {
  @include thumbnail;
  width: 150px !important;
  height: 150px !important;
}

.default-avatar-100 {
  @include thumbnail;
  width: 100px !important;
  height: 100px !important;
}

.default-avatar-50 {
  @include thumbnail;
  margin: 0 20px 16px 0;
  width: 50px !important;
  height: 50px !important;
  vertical-align: middle;
}

.profile-stats {
  padding-bottom: 20px;
  .stat {
    display: inline;
    font-size: 90%;
    font-weight: bold;
    &:not(:first-child) {
      padding-left: 30px;
    }
    span {
      font-size: 120%;
    }
  }
}

ul.user-list {
  a {
    padding: 0;
    color: $black;
    img {
      margin-right: 20px;
    }
  }
}

.italic-text {
  font-style: italic;
  display: inline;
}

.add-image-link {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  .thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88px;
    width: 88px;
    background-color: $yellow;
    &:hover {
      background-color: $yellow-dark;
    }
  }
}

/* Puts the image on top of an invisable, scalable, aspect ratio div. */
#recipe_image {
  #recipe_image_container {
    position: relative;
    width: 100%;
    padding-top: calc(100% + 24px);
    .recipe_image_card {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}
