.app-name {
  font-size: 2.6em;
  font-weight: normal;
  font-family: $app-title-font;
  white-space: nowrap;
}

.top-bar {
  margin-bottom: 20px;
  .accordion-menu {
    background-color: lighten($tattoo-topbar-background, 10%);
  }

  .top-bar-right .dropdown.menu > li > a {
    background: $tattoo-topbar-background;
  }

  /* make menu icon larger and easier to click */
  span.menu-icon {
    padding-left: 3em;
    margin-right: 0.5em;
    &::after {
      background: $tattoo-yellow;
      box-shadow: 0 7px 0 $tattoo-yellow, 0 14px 0 $tattoo-yellow;
    }
    &:hover::after {
      background: darken($tattoo-yellow, 20%);
      box-shadow: 0 7px 0 darken($tattoo-yellow, 20%),
      0 14px 0 darken($tattoo-yellow, 20%);
    }
  }

  /* link colors */
  a {
    color: $tattoo-yellow;
    span.info-text {
      color: #f6f6f6;
    }
    &:hover {
      color: darken($tattoo-yellow, 20%);
      span.info-text {
        color: #f27474;
      }
    }

    &::after {
      border-color: $tattoo-yellow transparent transparent;
    }
  }

  /* Remove icon margin in top-bar */
  i {
    margin: 0 !important;
  }
}
