.row.mb-3
  .col-12
    %h5 Steps
    .steps
      .all-slides
        = f.fields_for :steps do |step|
          = render 'steps/step_fields', f: step
        .links
          = link_to_add_association f, :steps, partial: 'steps/step_fields' do
            %i.fa.fa-plus-circle
            Add a step
