.row
  .small-12.columns
    %h5 Steps
    #ingredients
      = f.fields_for :steps do |step|
        = render 'steps/step_fields', f: step
      .links
        = link_to_add_association f, :steps, partial: 'steps/step_fields' do
          %i.fa.fa-plus-circle
          Add a step
