.nested-fields
  .callout-on-small-only
    .row
      .small-12.medium-9.columns
        = f.label :description
        = f.text_area :description, rows: 5
      .medium-3.columns
        = link_to_remove_association 'remove', f, class: 'hollow button inline-button-on-medium alert expanded'
