/* colors pal */
$white: #fefefe;
$turquoise-light: #bcf8f9;
$turquoise: #65edee;
$turquoise-dark: #007c7c;
$turquoise-ex-dark: #113536;
$yellow: #ffed00;
$yellow-dark: #e7d815;
$red: #ff0000;
$red-dark: darken($red, 10%);
$blue: #005ac9;
$blue-dark: darken($blue, 10%);
$dark-gray: #5c5c5e;

/* vars */
$topbar-background: $turquoise-ex-dark;
$topbar-submenu-background: $yellow;
$footer-background: $turquoise-dark;
$main-background: rgba($turquoise-light, 0.90);
$light-background: rgba($white, 0.6);
