.recipe-card {
  border: 1px solid $black;
  background-color: $light-background;
  margin-bottom: 20px;
  overflow-x: hidden;
  .recipe-card-stats{
    height: 37px;
  }
  .description {
    height: 6rem;
    overflow-x: scroll;
  }
}
