.recipe-card {
  border: 1px solid $black;
  background-color: $light-background;
  margin-bottom: 20px;

  .card-body {
    height: 240px;
    .description {
      height: 5.5rem;
      overflow-y: scroll;
    }
  }
}
