@font-face {
  font-family: 'Rock Show Whiplash';
  src: font-url('RockShowWhiplash.ttf') format('truetype');
}
$title-font: 'Rock Show Whiplash', 'sans-serif';

@font-face {
  font-family: 'FHA Cond French';
  src: font-url('FHACondFrenchNC.otf') format('opentype');
}
$jmain-font: 'FHA Cond French', 'monospace';

@font-face {
  font-family: 'Back To Black Bold';
  src: font-url('BackToBlackBold.ttf') format('truetype');
}
$kapp-title-font: 'Back To Black Bold', 'sans-serif';

@font-face {
  font-family: 'Munson Roman';
  src: font-url('Munson_Roman.otf') format('opentype');
}
$main-font: 'Munson Roman', 'monospace';

@font-face {
  font-family: 'Blessed Day';
  src: font-url('BlessedDay.otf') format('opentype');
}
$app-title-font: 'Blessed Day', 'sans-serif';
