$footer-size: 186px;

html, body {height: 100%;}

#wrap {
  min-height: 100%;
  /* add space between content and footer */
  padding-bottom: $footer-size;
}

#main {
  margin-bottom: 20px;
  padding-top: 20px;
  background-color: $main-background;
  border: 3px solid $turquoise;
  border-radius: 20px;
  // Add side gutters.
  @extend .container-xl;
}

footer {
  position: relative;
  margin-top: -$footer-size; /* negative value of footer height */
  min-height: $footer-size;
  clear: both;

  #style_footer {
    min-height: $footer-size;
    border: 2px solid $footer-background;
    padding: 25px;
    background: $footer-background;
    color: $turquoise-light;

    span.italic_text {
      font-style: italic;
      display: inline;
    }
  }
}
