html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {padding-bottom: 146px;} /* must be same height as the footer or add more for padding */

footer {
  position: relative;
  margin-top: -116px; /* negative value of footer height */
  height: 116px;
  clear: both;

  #style_footer {
    border: 2px solid darken($tattoo-dark-green, 30%);
    padding: 25px;
    background: darken($tattoo-dark-green, 30%);
    color: $tattoo-dark-green;

    span.italic_text {
      font-style: italic;
      display: inline;
    }
  }
}
