.button {
  color: $white;
  background-color: $blue;
  &:hover {
    background-color: darken($blue, 20%);
  }
}

form#notification_settings {
  label {
    display: inline;
  }
}

h3 .favor_form_button {
  width: 47px;
}

.favor_form_button {
  width: 32px;
  margin-bottom: 5px;
  display: flex;
  padding: 5px !important;
  border-radius: 10px;
  border: 3px solid $yellow-dark;
  &:hover {
    background-color: $yellow;
  }
}

#search-box {
  padding-bottom: 1rem;
}
