.callout {
  border-radius: var(--bs-border-radius);
  &.alert {
    background-color: $red-dark;
    color: $white;
    border-radius: 15px;
  }
  &.primary {
    background-color: $blue-dark;
    color: $white;
    border-radius: 15px;
  }
}
