ul.nav-links {
  // @include menu-base;
  // @extend .callout-transparent;
  padding: 0 15px 0 15px;

  li:not(:first-child) {
    margin-left: 60px;
  }

  a {
    // @include button;
    border-radius: 6px;
    font-weight: bold;
    // @include button-style($turquoise, darken($turquoise, 20%), $black);
    margin: 14px 0 16px 0;
    box-shadow: 2px 2px 8px $black;

    // Custom colors.
    &.alert {
      background-color: $red;
    }
  }
}

a.button {
  border-radius: 10px;
}

ul.nav-buttons {
  &, ul {
    list-style-type: none;
  }
  &, ul, a {
    margin: 0;
  }
  ul {
    // @include  breakpoint(medium) {
    //   float: right;
    // }
  }
  li {
    // @include  breakpoint(medium) {
    //   display: inline-block;
    // }
    margin-bottom: 20px;
  }
  & > li {
    margin-right: 20px;
  }
  & > ul > li {
    // @include  breakpoint(medium) {
    //   margin-left: 20px;
    // }
  }
  a {
    // @extend .button;
  }
}
