/* use provide(:background_layout, 'custom_layout_name') to add custom layouts to different pages */
body {
  background-color: $tattoo-pale-green;
}

h1, h2, h3, h4 {
  font-family: $main-font;
}

#cover {
  h1 {
    text-align: center;
    font-family: $title-font;
  }
}

ul.simple {
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

a.black-link {
  color: black;
  &:hover {
    color: lighten(black, 20%)
  }
}

.hidden {
  display: none;
}

/* Display Kaminari pagination links inline */
nav.pagination {
  span {
    display: inline-block;
  }
}

.callout-on-small-only {
  @include  breakpoint(small down) {
    @include callout;
  }
}

.inline-button-on-medium {
  @include breakpoint(medium) {
    height: 2.4375rem;
    margin-top: 1.55rem;
  }
}

.red-text {
  color: red;
}

.highlight-text {
  text-shadow: 2px 2px 10px white, -2px -2px 10px white, 2px -2px 10px white, -2px 2px 10px white;
}

.banner {
  @include callout;
  height: 150px;
  background-position: center;
}

.max-image-height {
  max-height: 400px;
}
