/* use provide(:background_layout, 'custom_layout_name') to add custom layouts to different pages */
body.homepage {
  background-color: #d8eccf;
}

h1, h2, h3, h4 {
  font-family: $main_font;
}

#cover {
  h1 {
    text-align: center;
    font-family: $title_font;
  }
}
