.app-name {
  font-size: 2.6em;
  font-weight: normal;
  font-family: $app-title-font;
  white-space: nowrap;
}

.top-bar {
  .accordion-menu {
    background-color: lighten($tattoo-topbar-background, 10%);
  }

  /* make menu icon larger and easier to click */
  span.menu-icon {
    padding-left: 3em;
    margin-right: 0.5em;
  }

  /* link colors */
  a {
    color: $tattoo-yellow;
    &:hover {
      color: darken($tattoo-yellow, 20%);
    }

    &::after {
      border-color: $tattoo-yellow transparent transparent;
    }
  }

  /* Remove icon margin in top-bar */
  i {
    margin: 0 !important;
  }
}

/* add space between topbar and content */
#main {
  padding-top: 30px;
}

#search-box {
  padding-top: 1em;
}
