.app-name {
  font-size: 4em;
  font-weight: normal;
  font-family: $app-title-font;
  white-space: nowrap;
}

.top-bar {
  margin-bottom: 20px;

  .top-bar-right {
    /* submenu  */
    .dropdown.menu > li > a {
      background: $topbar-background;
    }
    li.is-submenu-item > a {
      color: $topbar-background;
      &:hover {
        color: lighten($topbar-background, 20%)
      }
    }
    /* little bar in submenu small view link to dropdown options */
    .accordion-menu {
      background-color: lighten($topbar-background, 5%);
    }
  }

  /* make menu icon larger and easier to click */
  span.menu-icon {
    padding-left: 3em;
    margin-right: 0.5em;
    &::after {
      background: $yellow;
      box-shadow: 0 7px 0 $yellow, 0 14px 0 $yellow;
    }
    &:hover::after {
      background: $yellow-dark;
      box-shadow: 0 7px 0 $yellow-dark,
      0 14px 0 $yellow-dark;
    }
  }

  /* link colors */
  li.is-active > a {
    color: $yellow-dark !important;
  }
  a {
    color: $yellow;
    span.info-text {
      color: #f6f6f6;
    }
    &:hover {
      color: $yellow-dark;
      span.info-text {
        color: #f27474;
      }
    }
    &::after {
      border-color: $yellow transparent transparent !important;
    }
  }

  /* Remove icon margin in top-bar */
  i {
    margin: 0 !important;
  }

  /* Move dropdown infront of alert box close button. */
  .is-dropdown-submenu {
    z-index: 11;
  }
}
