.small-12.medium-6.cell
  = link_to category do
    .banner{style: "#{background_banner(category.recipes.unique_image(@used_recipes).last_with_image)}"}
      .highlight-text
        %h5
          = category.name
          .float-right= category.recipes.by_published.count
- @used_recipes << category.recipes.unique_image(@used_recipes).last_with_image.try(:id)
