.small-12.medium-6.cell
  = link_to category do
    .banner
      - recipe_with_image = category.recipes.unique_image(@used_recipes).last_with_image
      = image_tag banner_image(recipe_with_image.image) if recipe_with_image.present?
      .highlight-text.content
        %h5
          = category.name
          .float-right= category.recipes.by_published.count
- @used_recipes << category.recipes.unique_image(@used_recipes).last_with_image.try(:id)
