- provide(:title, 'New Category')

.grid-x
  .small-12.cell
    %p
      %b Available Categories:
      = @categories.list_names

    %h1 New category

    = render 'form', category: @category

    %ul.nav-links
      %li
        - if @recipe
          = link_to 'Back To Editing Recipe', edit_recipe_path(@recipe)
        - else
          = link_to 'Back', categories_path
