- provide(:title, 'New Category')

.grid-x
  .small-12.cell
    %p
      %b Available Categories:
      = @categories.list_names

    %h1 New category

    = render 'form'

    = link_to 'Categories', categories_path
