- provide(:title, 'New Category')

.grid-x
  .small-12.cell
    %p
      %b Available Categories:
      = @categories.list_names

    %h1 New category

    = render 'form', category: @category

    %ul.nav-links
      %li= link_to 'Back', categories_path
