.grid-x
  .cell
    %h4#reviews_header Reviews
.grid-x
  .cell
    .callout= render 'reviews/form', recipe: recipe, review: review
- if recipe.reviews
  %ul#reviews.menu.vertical
    = render recipe.reviews
