= link_to recipes_path, class: 'black-link' do
  #cover
    .grid-x.center
      .medium-8.cell
        .center.center-text
          %h1.title Recipedia
          %h2 Browse Recipes

        %p= image_tag 'spice.jpg'

        %p
          We want you to share
          %b your recipes
          for all to see. Browse by newest to oldest or by category. There is also a search
          bar to find recipes by name.
