= link_to recipes_path, class: 'black-link' do
  #cover
    .row
      .medium-6.small-centered.columns
        %h1 Indie Recipes

        %p= image_tag 'spice.jpg'

        %p
          (indie - one that is independent)
        %p
          We want you to share
          %b your recipes
          for all to see. Browse by newest to oldest or by category. Search box is on the way.
