= link_to recipes_path, class: 'black-link' do
  #cover
    .row
      .medium-6.small-centered.columns
        %h1 Secret Ingredient

        = image_tag 'spice.jpg'

        %p
          Family recipes, favorite recipes, your recipes. Share your recipes for all to see.
          Browse by newest to oldest or by category. Search box is on the way.
