- provide(:background_layout, 'homepage')

#cover
  .row
    .small-12.small-centered.columns
      %h1 The Tattooed
      %h1 Housewife's Cookbook
  .row
    .medium-6.large-4.small-centered.columns
      = image_tag 'cover.jpg'
