%footer
  #style_footer
    .row
      .medium-5.columns
        = link_to 'https://ttfh.co', target: '_blank' do
          = image_tag 'TinFoilHat.svg'
      .medium-7.columns
        .float-right
          %span.italic_text v-0.2.6
