%footer
  #style_footer
    .grid-x
      .medium-5.cell
        = link_to 'https://ttfh.co', target: '_blank' do
          = image_pack_tag 'TinFoilHat.svg'
      .medium-7.cell
        .float-right
          %span.italic_text v-1.5.2102.5
