%footer
  #style_footer
    .row
      .col-md-5
        = link_to 'https://ttfh.co', target: '_blank' do
          = image_tag 'TinFoilHat.svg'
      .col-md-7
        .float-end
          %span.italic_text v-2.0.2209.6
